html {
	font-family: system-ui, "Segoe UI", -apple-system, "Liberation Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
	max-width: 600px;
	margin: auto;
}
.row {
	margin-bottom: 1rem;
}
label {
	margin-right: 0.5rem;
}
